<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="x-nav">

      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>


      <table id="demo" lay-filter="test"></table>

    </div>
    <script>
      layui.use('table', function() {

          var table = layui.table;

          table.render({
              elem: '#demo'
              ,id: "test"
              , url: '/admin/user/'

              , even: true
              , page: true
              , cols: [
                  [
                      {field: 'uid', title: 'ID', width: 200, sort: true, fixed: 'left'}
                      , {field: 'username', title: '用户名',edit: 'text', width: 200}

                      , {field: 'password', title: '密码',edit: 'text', width: 200}
                      , {field: 'status', title: '状态',edit: 'text', width: 200}
                      , {field: 'createTime', title: '创建时间', edit: 'text',width: 200}
                      , {field: 'updateTime', title: '更新时间',edit: 'text', width: 200}
                      , {fixed: 'right', width: 150, align: 'center', toolbar: '#barDemo'}

                  ]

              ]
          });


          //监听单元格编辑
          table.on('edit(test)', function(obj){
              var value = obj.value //得到修改后的值
                  ,data = obj.data //得到所在行所有键值
                  ,field = obj.field; //得到字段
                  console.log(data);
              $.ajax({
                  url: "/admin/userupdate",
                  type: "POST",
                  async: true,
                  contentType: "application/json",
                  data:JSON.stringify(data),
                  dataType: "json",
                  success: function (res) {
                      if (res.code==1) {
                          layer.msg("更新成功");
                      } else {
                          layer.msg("更新失败");
                      }
                  }
          });

          });

          //监听工具条
          table.on('tool(test)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
              var data = obj.data; //获得当前行数据
              var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
              var tr = obj.tr; //获得当前行 tr 的DOM对象

               if (layEvent === 'del') { //删除
                  layer.confirm('真的删除行么', function (index) {
                      obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                      layer.close(index);
                      $.post("/admin/userdel",{id:obj.data.uid},function (res) {
                          console.log(res);
                      });
                  });
              }
          });

      });


    </script>

    <script type="text/html" id="barDemo">

      <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

    </script>

  </body>

</html>